/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.overlay::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
}
/* /general */

/* typo */
p {
  font-weight: 300;
  font-size: 17px;
  color: #858585;
}
/* /typo */

/* container */
.container {
  width: 80%;
  margin: auto;
}
/* /container */

/* header */

#neorilogo {
  width: 10%;
}

.mainnav {
  margin-top: 2%;
}

.mainnav li {
  list-style: none;
  display: inline-block;
}

.mainnav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  padding: 0 5px;
  font-size: 15px;
  color: #858585;
}

.mainnav a:first-child {
  padding-left: 0;
}
/* /header */

/* main */
.hero {
  position: relative;
}

.hero img {
  height: 450px;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}

.hero-heading {
  position: absolute;
  bottom: 70px;
  left: 60px;
  color: #fff;
  max-width: 65%;
  z-index: 2;
}

.hero-heading h3 {
  font-weight: 400;
  font-size: 30px;
}

.hero-heading p {
  color: #fff;
}

/* /main */

/* section */
section {
  margin: 3% 0;
}

.section-heading h2 {
  font-weight: 700;
  font-size: 30px;
}

.leadership .row {
  padding: 15px 0;
}

.col.left, .col.right {
  width: 25%;
}
.col.center {
  margin: 0 10px;
  width: calc(50% - 20px);
}

.row > .col {
  float: left;
  background-color: lightblue;
  height: 500px;
}
/* /section */

/*footer */
footer {
  height: 50px;
  background-color: blueviolet;
  margin: 10px 0 20px;
}
