/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* /general */

/* container */
.container {
  width: 80%;
  margin: auto;
}
/* /container */

/* header */
header {
  margin: 3% 0;
}

#neorilogo {
  width: 15%;
}

.mainnav {
  margin-top: 2%;
}

.mainnav li {
  list-style: none;
  display: inline-block;
}

.mainnav a {
  color: #858585;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  padding-right: 10px;
}
/* /header */

/* main */
.hero {
  height: 73vh;
  background-color: khaki;
  margin-bottom: 3vh;
}
/* /main */

/* section */
section.leadership {
  background-color: blue;
}

.section-heading {
  height: 70px;
  background-color: lightblue;
}

.leadership .row {
  padding: 15px 0;
}

.col.left, .col.right {
  width: 25%;
}
.col.center {
  margin: 0 10px;
  width: calc(50% - 20px);
}

.row > .col {
  float: left;
  background-color: lightblue;
  height: 500px;
}
/* /section */

/*footer */
footer {
  height: 50px;
  background-color: blueviolet;
  margin: 10px 0 20px;
}
